.arkaplan {
  background-image: url("https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-226766.png");
  height: 1000px;
  width: 100%;
  background-position: center center;
  background-size: cover;
  margin: 0px;
  padding: 0px; 
}
.beklet{
  background-color: #696969;
  box-sizing: border-box;
  padding: 0px;
  margin-top: 0px;
  position: fixed;
  left: 0;
  top: 80px;
  text-align: center;
  width: 100%;
  z-index: 999;


}
.header-text {
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  border-bottom: 1px solid #eeeeee;


}

.header-text img {
  position: relative;
  top: 6px;
}

.aa-logo{
  background-image: url("http://ohsnapbacks.com/wp-content/uploads/2011/08/STAMPD-DOPE-SNAPBACK-PREVIEW.001.jpg")
  margin-top: 5px;
  padding-left: 4px
  padding-top: 20px;
  }

 .imgg {
  background-image: url("https://cdn-images-1.medium.com/max/800/1*i6-as6P9BpNOoBHrQSGDHg.png");
  width: 1255px;
  height: 1080px;
  padding-left: 2px; 
  background-size:cover;
  position: relative;
  top: 6px;
  background-position: center center;
  float: right;


}
h1{
  font-family: monaco, Consolas, "Lucida Console", monospace;
  color: #17202A;
  font-size: 30px;
  font-weight: 300;
  font-weight: bold; 

}
h4 {
  color: #17202A;
  font-family: monaco, Consolas, "Lucida Console", monospace;
  font-size: 30px;
  font-weight: 300;
  font-weight: bold;
   
}
h5{
  color: #17202A;
  font-family: monaco, Consolas, "Lucida Console", monospace;
  font-size: 30px;
  font-weight: 300;
  font-weight: bold;
  line-height: 60px;
  margin: 0;
  width: 50px;
  /*text-align:yazının ortalamasını yada sola sağa doğru olmasını sağlar;*/
  
  
}